@model UsiCalculator.Models.UsiCalculatorViewModel
@{
    ViewBag.Title = "Home Page";

    var weekCount = 0;
    if (Model != null)
    {
        weekCount = Model.Values.Count() / 5;
    }
}

@using (Html.BeginForm())
{
    @Html.LabelFor(x => x.InitialPackages)
    @Html.EditorFor(x => x.InitialPackages)
    @Html.LabelFor(x => x.GoalPackages)
    @Html.EditorFor(x => x.GoalPackages)
    <input type="submit" value="Submit" />
}

@{
    if (Model != null)
    {
        <div class="col-sm-12">
            <p>It will take you @Model.Values.Count() working days or @weekCount weeks</p>
            <p> to achieve @Model.GoalPackages with a 100% rebuy</p>
        </div>
        <div class="col-sm-3">Day</div>
        <div class="col-sm-3">Packages</div>
        <div class="col-sm-3">10% Comm</div>
        <div class="col-sm-3">3% Comm</div>
        for (var i = 1; i <= Model.Values.Count; i++)
        {
            <div class="col-sm-3">@i</div>
            <div class="col-sm-3">@Model.Values.ElementAt(i - 1).TotalPackages</div>
            <div class="col-sm-3">@Model.Values.ElementAt(i - 1).Commision1</div>
            <div class="col-sm-3">@Model.Values.ElementAt(i - 1).Commision2</div>
        }
    }
}